/* add css */
.padding-tb10{
    padding: 10px 0;
}
/* add css */

.search-woman{
    background-color: #e3e3e3;
    padding: 10px 10px;
}
.search-woman h2{
    color:#000;
    font-weight: bold;
    font-size: 20px;   
}


.search-woman-title{
    background-color: #fff;
}
.search{
    border: 2px solid #999;
    width: 100%;
    height: 38px;
    border-radius: 3px;
}
.search-btn{
    border: 2px solid #999;
    box-sizing: border-box;
    height: 38px;
    margin-left: -3px !important;
}
.search-woman-title h2{
    padding: 10px 10px;

    margin: 0;
}
.input-group{
    padding: 0 10px;
    padding-bottom: 10px;
}
.group-type{
    display: flex;
    align-items: center;

    background-color: #fff;
}
.group-type h3{
    width: 100%;
    text-align: center;
    color:#000;
    font-size: 20px;
}
#sel1{
    border: 2px solid #999;
}

.group-area label{
    margin: 10px 10px;
}
.group-area h3{
    margin: 0;
    text-align: left;

}

/* bj create css */

.sub-checkbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-nav-li {
    padding: 10px;
}

.del-action {
    border: none;
    line-height: 100%;
}

.del-action:hover {
    border: none !important;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: none !important;
}

.sub-ul-box {
    display: flex
}

.sub-ul-box li {
    width: 25%;
    cursor: pointer;
}

.box-set{
    display: flex;
    justify-content: space-between;
    padding: 0px !important;
    margin: 50px 0;
    height: 50px;
    line-height: 50px;
    text-align: center;   
}

.box1, .box2, .box3 {
    width: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    cursor: pointer;
}

.box1-head {
    display: flex;
    justify-content: space-between;
}


.photo-box1, .photo-box2, .photo-box3  {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.post-num{
    margin-top: 30px;
}

.post-num ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-num li{
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
}
.post-active{
    background-color: #000;
    color:#fff;
}
.cast-frame{
    background-color: #fafafa;
    padding: 5px 5px;
    border: 1px solid #e5e5e5;
}

.photo-box1,.photo-box2,.photo-box3{
    margin: 10px 0;
}
.photo-box-bor img{
    transition: all 0.3s;
}

.photo-box-bor img:hover{
    opacity: 0.8;
}

.cast-section {
    letter-spacing: -1;
    line-height: 1.5;
    color: #000;
}

.cast-name {
    font-weight: bold;
    letter-spacing: -1;
}

.cast-size {
    font-size: 12px;
    letter-spacing: -1;
    border-bottom: 1px dotted #000;
}

.cast-shop-name {
    font-size: 12px;
}

.content-title {
    font-weight: bold;
    position: relative;
    padding: 25px 0px;
    line-height: 24px;
    border-bottom: 1px solid #d2d2d2;
    color: #111;
}

.content-title::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    border-top: 4px solid #eaeaea;
    border-bottom: 1px solid #d2d2d2;
}

.content-str {
    font-size: 24px !important;
    /* margin-left: 10px; */
    color: #111;
}

.fs-14 {
    font-size: 14px;
}

.content-sp {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #111;
}

.content-s {
    font-size: 14px;
}

@media (max-width:767px) {
    .box-set {
        display: block;
    }

    .box1, .box2, .box3 {
        width: 100%;
        height: 50px;
        background-color: #fff;
        border: 1px solid #eee;
        margin: 10px 0;
    }

    .box1-head {
        display: flex;
        justify-content: center;
    }

    .photo-box-bor {
        width: 180px;
    }
}




.sch {
    margin: 70px 0 50px 0;
}
.sch-boxall {
    display: flex;
    text-align: center;
}

.sch-boxset {
    display: flex;
    width: 100%;
}

.sch-box {
    width: 100%;
    border: 1px solid #eee;
    margin: 3px 3px ;
    cursor: pointer;
}

.sch-box:hover {
    color: #e91e63;
}

.sch-line {
    margin: 0 auto;
    width: 98%;
    height: 5px;
    border-radius: 15px;
    background-color: #ccc;
}

.sch-line.active {
    background-color: #e91e63 ;
}

.content-tt {
    font-size:18px;
    color: #111;
    font-weight: 500;
}



@media (max-width:767px) {
    .sch-boxall {
        display: block;
    }
}

.cast-section {
    cursor: pointer;
}

.attendance {
    background-color: rgba(216,21,21,0.8);
    border-radius: 2px;
}

.time{
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.5;
}

.cast-state-icon {
    background-color: #1e73be;
    border-radius: 2px;
}

.cast-state-icon span {
    color: #fff;
}
/* bj create css */
.box-set .box1 .box1-head>div{
    padding: 0 30px;
}
.box1-content{
    line-height: 22px;
}
.box1-content a{
    color: #000;
}
.box-set .box2 strong {
    font-size: 24px;
    color: #e50039;
    font-weight: 800;
}

.box-set .box3{
    color: #fff;
    background-color: #d5452f;
    border-color: #d5452f;
}

/* news area */
.small-model{
    display: flex;
    padding: 10px 30px;
    border-bottom: 1px dotted #000;
}
.small-model .cast-size{
    margin-left: 5px;
    border-bottom: none;
    line-height: 6px;
    text-align: left;
}
.small-model .cast-size p:not(:first-child){
    color: #888;
}
.small-model img{
    width: 20%;
}
.model-info-area{
    text-align: left;
    padding: 5px 30px;
}
.model-info{
    color: #888;
}
.info-link{
    padding: 0 30px;
    text-align: right;
}
.info-link a{
    color: #888;
}
@media (max-width:568px){
    .small-model{
        padding: 5px;
    }
    .small-model img{
        display: none;
    }
    .small-model .cast-size{
        line-height: 12px;
    }
    .model-info-area{
        padding: 5px;
    }
    .info-link{
        padding: 5px;
    }
}

/* offer area */
.offer-none{
    text-align: center;
}

/* shop area */
.shop-selecter{
    border: 1px solid #000;
    padding: 10px 5px;
    border-radius: 5px;
}
.shop-selecter-title{
    color: #333;
    font-size: 2rem;
}
.shop-cont-all{
    margin-top: 10px;
}
.shop-cont-all>a{
    padding: 5px 10px;
    background: #e91e63;
    color: #fff;
}
.shop-cont-item>ul{
    display: flex;
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.shop-cont-item ul>li{
    width: 25%;
}
.shop-cont-item ul>li>a{
    color: #999;
    border-bottom: 1px solid #999;
}

.shop-tabs{
    margin-top: 2rem;
    border-bottom: 3px solid #e91e63;
}
.shop-tabs ul{
    display: flex;
    padding: 0 3rem;
}
.shop-tabs ul>li{
    width: 25%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid #999;
    border-right: none;
}
.shop-tabs ul>li:last-child{
    border-right: 1px solid #999;
}
.shop-tabs ul>li.select{
    background: #e91e63;
    border: none;
}
.shop-tabs ul>li.select>a{
    color: #fff;
}

.shop-list .col-sm-12{
    padding: 0;
}
.shop-list-item{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to bottom,#fefefe,#f1f1f1);
    padding: 1rem 2rem;
    border: 1px solid #999;
    border-top: 3px solid #e91e63;
    border-radius: 5px;
}
.shop-list-item h3{
    font-size: 2rem;
    margin-top: .5rem;
    color: #000;
}
.shop-list-item p{
    color: #888;
}
.shop-list-item span{
    margin-left: 10px;
    background: #ff9800;
    color: #fff;
    padding: 2px 5px;
}
.list-btn i{
    font-size: 1.6rem;
    margin-right: .5rem;
}
.list-btn>button{
    margin-top: 1.2rem;
    background:linear-gradient(to right bottom,#ffb300 0%,#ff9800 51%);
    border: 2px solid rgba(51,51,51,.2);
    padding: .6rem 1.2rem;
    border-radius: .6rem;
    color: #fff;
}


.shop-list-info{
    border: 1px solid #999;
}
.shop-list-info .col-sm-3,
.shop-list-info .col-sm-9{
    padding: 0;
}
.shop-info-left{
    padding: 10px;
}
.shop-info-left img{
    width: 100%;
    max-width: 150%;
}
.shop-main-status{
    display: flex;
    margin-top: 10px;
    margin-left: 8px;
}
.shop-main-status i{
    color: #b91d73;
}
.shop-chat{
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    margin: 0 5px 0 10px;
}
.shop-chat span{
    font-weight: 400;
    font-size: 10px;
}
.shop-user{
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    margin: 0 5px 0 10px;
}
.shop-user span{
    font-weight: 400;
    font-size: 10px;
}
.shop-phone{
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    margin: 0 5px 0 10px;
}
.shop-phone span{
    font-weight: 400;
    font-size: 10px;
}
.shop-line{
    width: 1px;
    height: 50px;
    background: #888;
    margin: 0 5px;
}
@media (max-width: 568px){
    .shop-cont-item ul>li{
        width: 50%;
    }
}