/* add css */
.padding-tb10{
    padding: 10px 0;
}
/* add css */

.search-woman{
    background-color: #e3e3e3;
    padding: 10px 10px;
}
.search-woman h2{
    color:#000;
    font-weight: bold;
    font-size: 20px;   
}


.search-woman-title{
    background-color: #fff;
}
.search{    
    border: 2px solid #999;
    width: 100%;
    height: 38px;
    border-radius: 3px;
}
.search-btn{
    border: 2px solid #999;
    box-sizing: border-box;
    height: 38px;
    margin-left: -3px !important;
}
.search-woman-title h2{
    padding: 10px 10px;

    margin: 0;
}
.input-group{
    padding: 0 10px;
    padding-bottom: 10px;
}
.group-type{
    display: flex;
    align-items: center;

    background-color: #fff;
}
.group-type h3{
    width: 100%;
    text-align: center;
    color:#000;
    font-size: 20px;
}
#sel1{
    border: 2px solid #999;
}

.group-area label{
    margin: 10px 10px;
    font-weight: 400;
}
.group-area h3{
    margin: 0;
    text-align: left;

}

/* bj create css */

.sub-checkbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-nav-li {
    padding: 10px;
}

.del-action {
    border: none;
    line-height: 100%;
}

.del-action:hover {
    border: none !important;
}



.sub-ul-box {
    display: flex
}

.sub-ul-box li {
    width: 25%;
    cursor: pointer;
}

.box-set{
    display: flex;
    justify-content: space-between;
    padding: 0px !important;
    height: 50px;
    line-height: 50px;
    text-align: center;   
}

.box1, .box2, .box3 {
    width: 100%;
    background-color: #fff;
    border: 1px solid #eee;
    cursor: pointer;
}

.box1-head {
    display: flex;
    justify-content: space-between;
}


.photo-box1, .photo-box2, .photo-box3  {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.post-num{
    margin-top: 30px;
}

.post-num ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-num li{
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
}
.post-active{
    background-color: #000;
    color:#fff;
}
.cast-frame{
    background-color: #fafafa;
    padding: 5px 5px;
    border: 1px solid #e5e5e5;
}

.photo-box1,.photo-box2,.photo-box3{
    margin: 10px 0;
}
.photo-box-bor{
    padding: 0 5px;
}
.photo-box-bor img{
    transition: all 0.3s;
}

.photo-box-bor img:hover{
    opacity: 0.8;
}

.cast-section {
    letter-spacing: -1;
    color: #000;
}

.cast-name {
    font-weight: bold;
    letter-spacing: -1;
}

.cast-size {
    font-size: 12px;
    letter-spacing: -1;
    border-bottom: 1px dotted #000;
}

.cast-shop-name {
    font-size: 12px;
}

.content-title {
    font-weight: bold;
    position: relative;
    padding: 25px 0px;
    line-height: 24px;
    border-bottom: 1px solid #d2d2d2;
    color: #111;
}

.content-title::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    border-top: 4px solid #eaeaea;
    border-bottom: 1px solid #d2d2d2;
}

.content-str {
    font-size: 24px !important;
    /* margin-left: 10px; */
    color: #111;
}

.fs-14 {
    margin: 15px 0 !important;
    font-size: 14px;
}

.content-sp {
    margin-left: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #111;
}

.content-s {
    font-size: 14px;
}






.sch {
    margin: 70px 0 50px 0 !important;
}
.sch-boxall {
    display: flex;
    text-align: center;
}

.sch-boxset {
    display: flex;
    width: 100%;
}

.sch-box {
    width: 100%;
    border: 1px solid #eee;
    margin: 3px 3px ;
    cursor: pointer;
}

.sch-box:hover {
    color: #e91e63;
}

.sch-line {
    margin: 0 auto;
    width: 98%;
    height: 5px;
    border-radius: 15px;
    background-color: #ccc;
}

.sch-line.active {
    background-color: #e91e63 ;
}

.content-tt {
    font-size:18px;
    color: #111;
    font-weight: 500;
}

.cast-section {
    cursor: pointer;
}

.attendance {
    background-color: rgba(216,21,21,0.8);
    border-radius: 2px;
}

.time{
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.5;
}

.cast-state-icon {
    background-color: #1e73be;
    border-radius: 2px;
}

.cast-state-icon span {
    color: #fff;
}
/* bj create css */
.box-set .box1 .box1-head>div{
    padding: 0 10px;
}
.box1-content{
    line-height: 22px;
}
.box1-content a{
    color: #000;
}
.box-set .box2 strong {
    font-size: 24px;
    color: #e50039;
    font-weight: 800;
}

.box-set .box3{
    color: #fff;
    background-color: #d5452f;
    border-color: #d5452f;
}

/* news area */
.small-model{
    display: flex;
    padding: 10px 30px;
    border-bottom: 1px dotted #000;
}
.small-model .cast-size{
    margin-left: 5px;
    border-bottom: none;
    line-height: 6px;
    text-align: left;
}
.small-model .cast-size p:not(:first-child){
    color: #000;
}
.small-model img{
    width: 20%;
}
.model-info-area{
    text-align: left;
    padding: 5px 30px;
}
.model-info{
    color: #000;
}
.info-link{
    padding: 0 30px;
    text-align: right;
}
.info-link a{
    color: #000;
}
@media (max-width:568px){
    .small-model{
        padding: 5px;
    }
    .small-model img{
        display: none;
    }
    .small-model .cast-size{
        line-height: 12px;
    }
    .model-info-area{
        padding: 5px;
    }
    .info-link{
        padding: 5px;
    }
}

/* offer area */
.offer-none{
    text-align: center;
}

/* shop area */
.shop-selecter{
    border: 1px solid #000;
    padding: 10px 10px;
    border-radius: 5px;
}
.shop-selecter-title{
    color: #333;
    font-size: 2rem;
}
.shop-cont-all{
    margin-top: 10px;
}
.shop-cont-all>a{
    padding: 5px 10px;
    background: #e91e63;
    color: #fff;
}
.shop-cont-item>ul{
    display: flex;
    -webkit-flex-wrap:wrap;
    flex-wrap: wrap;
    margin: 1rem 0;
}
.shop-cont-item ul>li{
    width: 25%;
}
.shop-cont-item ul>li>a{
    color: #999;
    border-bottom: 1px solid #999;
}

.shop-tabs{
    margin-top: 2rem;
    border-bottom: 3px solid #e91e63;
}
.shop-tabs ul{
    display: flex;
}

.shop-tabs ul>li{
    width: 25%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid #999;
    border-right: none;
}
.shop-tabs ul>li:last-child{
    border-right: 1px solid #999;
}
.shop-tabs ul > li > a{
    font-size: 16px;
}
.shop-tabs ul>li.select{
    background: #e91e63;
    border: none;
}
.shop-tabs ul>li.select>a{
    color: #fff;
}

.shop-list{
    margin-bottom: 30px !important;
}
.shop-list .col-sm-12{
    padding: 0;
}

.shop-list-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to bottom,#fefefe,#f1f1f1);
    padding: 1rem 2rem;
    border-bottom: 1px solid #999;
    border-top: 3px solid #e91e63;
    border-radius: 5px 5px 0 0;
}
.shop-list-item h3{
    font-size: 2rem;
    margin: 12px 0 4px;
    color: #000;
}
.shop-list-item p{
    color: #000;
}
.shop-list-item span{
    background: #ff9800;
    color: #fff;
    padding: 1px 5px;
    font-size: 12px;
}
.shop-list-title a{
    transition: all .3s;
    font-size: 14px;
    color: #000;
}
.shop-list-title a:hover{
    color: #da0000;
}
.shop-list-sub-wrap{
    display: flex;
    align-items: center;
}
.shop-list-sub-wrap p{
    margin: 0;
    font-size: 12px;
}
.shop-list-sub-wrap span{
    margin-left: 15px;
}
.list-btn i{
    font-size: 1.6rem;
    margin-right: .5rem;
}
.shop-list-item .list-btn{
    display: flex;
    align-items: center;
}
.list-btn>button{
    margin-top: 1.2rem;
    background:linear-gradient(to right bottom,#ffb300 0%,#ff9800 51%);
    border: 2px solid rgba(51,51,51,.2);
    padding: .6rem 1.2rem;
    border-radius: .6rem;
    color: #fff;
}

.shop-title{
    margin: 15px 0 !important;
}

.shop-list-info>.row{
    margin: 0;
}
.shop-list-info .col-sm-3,
.shop-list-info .col-sm-9{
    padding: 0;
}
.shop-info-left{
    padding: 10px;
}
.shop-info-left img{
    width: 100%;
    max-width: 150%;
}
.shop-main-status{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-left: 8px;
}
.shop-main-status i{
    color: #b91d73;
    font-size: 18px;
    margin-bottom: 5px;
}
.shop-chat{
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    margin: 0 5px 0 10px;
}
.shop-chat span{
    font-weight: 400;
    font-size: 10px;
}
.shop-user{
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    margin: 0 5px 0 10px;
}
.shop-user span{
    font-weight: 400;
    font-size: 10px;
}
.shop-phone{
    text-align: center;
    line-height: 18px;
    font-weight: 700;
    margin: 0 5px 0 10px;
}
.shop-phone span{
    font-weight: 400;
    font-size: 10px;
}
.shop-line{
    width: 1px;
    height: 50px;
    background: #888;
    margin: 0 5px;
}


.shop-list-info>.row{
    border: 1px solid #999;
    border-top: none;
}

.shop-detail-wrap{
    margin-top: .8rem;
    margin-left: .5rem;
}
.shop-detail-wrap .row{
    margin: 0;
}
.shop-lead{
    margin-bottom: 10px;
}
.shop-lead p{
    font-size: 18px;
    color: #000;
}
.shop-check-icon span{
    border: 1px solid #999;
    border-radius: 15px;
    padding: .1rem .5rem;
}

.shop-button-wrap{
    display: flex;
    align-items: center;
    padding: 2rem 0;
}
.shop-info{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 105px;
}
}
.shop-info .info{
    font-size: 16px;
    font-weight: 300;
}

.flex-center{
    display: flex;

    align-items: center;
}

.shop-info .info i{
    padding: .3rem;
    color: #fff;
    background: linear-gradient(to right bottom,#f953c6,#b91d73);
    border: 1px solid rgba(51,51,51,.4);
    margin-right: 5px;
}

.shop-price-featured{

    text-align: center;
    border: 1px solid #ec407a;
}
.featured-title{
    padding: 0 30px;
    background: #ec407a;
    color: #fff;
}
.featured-content{
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}
.featured-content-item{
    display: flex;
    justify-content: center;
}
.featured-content-item del span{
    font-size: 16px;
    font-weight: 300;
}
.featured-content-item i{
    margin: 0 10px;
    margin-top: 5px;
}
.featured-content-item p{
    font-size: 20px;
    font-weight: 600;
    color: #ff0000;
}

.shop-pickup{
    display: flex;
}
.shop-pickup .col-sm-12:nth-child(2){
    margin-left: 5px;
}
.shop-pickup ul{
    padding: 0;
    /* margin-top: 15px; */
    display: flex;
}
.shop-pickup ul>li{
    margin: 0 .5rem;
}
.shop-pickup ul > li > a > img{
    position: relative;
}
.shop-pickup ul > li > a .cast-section{
    position: absolute;
    width: 76px;
    text-align: center;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
}
.shop-pickup > .col-sm-12:last-child > ul > li > a .cast-section {
    width: 78px;
} 
.shop-pickup ul>li .cast-section span{
    font-size: 14px;
}
.shop-pickup ul>li>a:hover img{
    opacity: .8;
}
@media (max-width: 568px){
    .shop-cont-item ul>li{
        width: 50%;
    }
    
    .shop-info-left{
        margin: 0 auto;
        text-align: center;
    }
    .shop-info-left img{
        width: 80%;
    }
    .shop-detail-wrap{
        padding: 0 30px 30px;
    }
    .shop-pickup{
        flex-direction: column;
    }
    .shop-pickup .col-sm-12:nth-child(2){
        margin-left: 0px;
    }
    .shop-pickup ul{
        margin-top: 0;
    }
    .shop-pickup .col-sm-12:nth-child(2) ul{
        margin-top: 15px;
    }
    .shop-button-wrap{
        flex-direction: column;
    }
    .shop-price-featured{

        margin-left: 0;
        margin-top: 2rem;
    }
    .shop-info .info{
        padding: 0 15px;
    }
    .shop-list .col-sm-8{
        padding: 0;
    }
}



/* rightnow */
.rightnow-title p{
    text-align: center;
}

/* value */
.value-title{
    margin: 30px 0;
    text-align: center;
    color: #3c5e9c;
}
.value-title i{
    margin-right: .4rem;
}
.value-title-caption{
    text-align: right;
    margin-bottom: 10px !important;
}
.value-list-title{
    display: flex;
}

.value-num{
    margin-top: 10px;
}
.value-num p{
    font-size: 24px;
    padding: 5px 10px;
    border: 1px solid #ccc;
}
.value-title-item{
    margin-left: 5px;
}
.value-info{
    display: block;
}
.value-info .info{
    margin: 5px 0;
}
.info-yen i, .info-marker i {
    padding: .5rem !important;
}

/* cast-diary */
.cast-diary{
    margin-top: 15px;
    padding: 0 !important;
}
.cast-diary .col-xs-6{
    border: 1px solid #ccc;
    padding: 5px;
}
.cast-diary .col-sm-4{
    padding: 0;
}
.cast-row{
    margin-bottom: 15px !important;
}
.cast-diary .col-sm-4 a{
    color: #000;
}

.diary-top-item{
    border-bottom: 1px dashed #ccc;
    text-align: center;
}
.diary-top-item p{
    margin: 0;
    text-align: left;
}

.diary-title{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 20px;
    margin: 5px 0;
}
.diary-title p{
    transition: all .3s;
}
.diary-top-item img{
    transition: all .3s;
}
.cast-diary .col-xs-6 a:hover .diary-title p:first-child{
    color: #da0000;
}
.cast-diary .col-xs-6 a:hover .diary-top-item img{
    opacity: .7;
}
.diary-title p:last-child{
    color: #333;
    font-size: 12px;
}
.diary-bottom-item{
    display: flex;
}
.diary-bottom-item img{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin-top: 15px;
}
.diary-conts{
    margin-left: 10px;

    padding: 10px 0;
    line-height: 6px;
}
.diary-conts p{
    font-size: 12px;
    color: #666;
}
.diary-conts i{
    font-size: 12px;
    color: #666;
}
/* post-video */
.post-video{
    margin-top: 15px;
}
.post-video .row, .post-video .col-sm-6{
    padding: 0;
}
.post-video a{
    color: #000;
}

.post-top-item{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.post-video-title{
    margin-top: 5px;
    line-height: 16px;
}
.post-video-title p{
    margin: 0;
    transition: all .3s;
}
.post-video-title p:last-child{
    text-align: right;
    color: #888;
}
.post-video-item img{
    transition: all .3s;
}
.post-video a:hover .post-video-title p:first-child{
    color: #da0000;
}
.post-video a:hover .post-top-item img{
    opacity: .7;
}
.post-video a:hover .post-video-title p:last-child{
    color: #888;
}
.post-bottom-item{
    display: flex;
}
.post-bottom-item img{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    transition: all .3s;
    margin-top: 5px;
}
.post-bottom-item img:hover{
    opacity: .7;
}
.post-video-info{
    line-height: 16px;
    margin-left: 10px;
    margin-bottom: 15px;
}
.post-video-info p{
    font-size: 12px;
    margin-bottom: 0;
}
.post-video-info i, .post-video-info a{
    font-size: 12px;
}
.post-video-info a:hover{
    color: #da0000;
}
@media (max-width: 568px){
    .post-video .row:nth-child(3),
    .post-video .row:nth-child(4){
        display: none;
    }
}

/* review */
.review{
    margin-top: 15px;
}
.review .col-sm-12{
    padding: 5px;
    border: 1px solid #ccc;
}
.review a p{
    color: #000;
    transition: .3s;
}
.review a:hover p{
    color: #da0000;
}
.review a:hover .review-bottom-right p{
    color: #000;
}
.review a img{
    transition: all .3s;
}
.review a:hover img{
    opacity: .7;
}
.review p{
    margin: 0;
}
.review-top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #ccc;
    padding: 10px 10px 15px;
}
.review-title{
    margin-left: 10px;
}
.review-title i{
    color: orange;
}
.review-top-left{
    display: flex;
}
.review-top-right{
    text-align: end;
}
.review-bottom{
    padding: 10px;
}
.review-bottom-right{
    text-align: right;
}
/* event */
.event-sub{
    font-size: 18px;
    text-align: center;
    margin: 30px 0 30px !important;
}
.event-sub-num{
    margin-bottom: 15px !important;
}
.event-page a{
    color: #333;
}
.event-page .col-sm-12{
    border: 1px solid #ccc;
    padding: 10px 10px !important;
    margin-bottom: 15px;
}
.event-item{
    display: flex;
}
.event-img img{
    width: 150px;
    max-width: 150px;
    height: 150px;
    margin-top: 25px;
    transition: all .3s;
}
.event-img>a:hover img{
    opacity: .7;
}
.event-conts{
    margin-left: 15px;
}
.event-conts p{
    margin: 0;
}
.event-top{
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px;
}
.event-top-1{
    margin-bottom: 15px;
}
.event-top-1 a{
    font-size: 18px;
    font-weight: 600;
}
.event-top-1 a:hover{
    color: #da0000;
}
.event-top-2 p:last-child{
    font-size: 10px;
}
.event-bottom{
    padding: 15px 0 10px;
}
@media (max-width:568px){
    .event-img img{
        margin-top: 50%;
    }
}

/* hana area */
#shop-header-info{
    margin-top: 30px;
    border: 1px solid #ccc;
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
#shop-header-info p{
    margin: 0;
}
#shop-info-site-name{
    color: #000;
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
}
#shop-info-area{
    display: flex;
    margin: 10px 0;
}
#shop-info-area .area-info{
    display: flex;
}
#shop-info-area .area-info p{
    margin: 0 15px;
}
#shop-info-caption{
    color: #000;
    font-size: 18px;
}
.baloon{
    width: 290px;
    position: relative;
    left: 30px;
    border: 1px solid #ccc;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 12px;
}
.baloon strong{
    font-size: 16px;
}
#shop-header-info #shop-info-right .baloon:after {
    position: absolute;
    right: 20%;
    bottom: -.8rem;
    margin-left: -.8rem;
    content: '';
    border-top: 0.8rem solid var(--shop-border-color, #d4d4d4);
    border-right: .8rem solid transparent;
    border-left: .8rem solid transparent;
}
#shop-info-right .tel{
    text-align: right;
    margin: 10px 0;
}
#shop-info-right .num{
    margin-left: 5px;
    font-size: 24px;
    color: #000;
}
.shop-favorite{
    display: flex;
}
.shop-favorite li{
    background: linear-gradient(45deg, #61045F 50%,#AA076B 100%);
    padding: 5px 20px;
    border-radius: 5px;
    margin: 0 5px;
    transition: .3s;
}
.shop-favorite li a{
    color: #fff;
}
.shop-favorite li i{
    margin-right: 5px;
}
.shop-favorite li:hover{
    opacity: .7;
}

/* hana-tab */
.hana-banner{
    margin-top: 30px;
}
.hana-tab{
    margin: 0;
}
.hana-tab  li{
    width: 11.11%;
    background: #606060 !important;
    border-left: 1px solid #fff;
}
.hana-tab li a{
    font-size: 13px;
    transition: .3s;
}
.hana-tab li:first-child a{
    color: #fff !important;
}
.hana-tab>li.active>a, .hana-tab>li.active>a:focus, .hana-tab>li.active>a:hover{
    font-weight: 400 !important;
    color: #ffff00 !important;
}
.hana-tab li a{
    color: #fff;
}

.hana-conts{
    position: relative;
    z-index: 1;
    margin-top: 15px;
}
.hana-conts{
    padding: 0; 
}

.hana-conts .tab-1-title{
    background: #333;
    border-top: 2px solid #f84998;
    padding: 10px;
}
.hana-conts .tab-1-title p{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
}
.hana-conts .tab-1-sub{
    text-align: right;
    margin: 10px 0;
}
/* hana-conts */
.hana-conts .col-xs-3{
    padding: 0 5px 5px;
}
.hana-conts .col-xs-3 a{
    color: #000;
}
.hana-girls p{
    margin: 0;
}
.hana-girl-time{
    background: #e04444;
    color: #fff;
}
.hana-girl-size{
    font-size: 12px;
}
.hana-girl-state{
    background: #1e73be;
    color: #fff;
}
.hana-conts a{
    transition: all .3s;
}
.hana-conts img{
    transition: .3s;
}
.hana-conts .col-xs-3 a:hover p:nth-child(3){
    color: #da0000;
}
.hana-conts .col-xs-3 a:hover img{
    opacity: .7;
}
.hana-girl-btn button{
    background: linear-gradient(45deg, #61045F 50%,#AA076B 100%);
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 5px 50px;
    margin-top: 15px;
    transition: all .3s;
}
.hana-girl-btn i{
    margin-left: 5px;
}
.hana-girl-btn button:hover{
    opacity: .7;
}

/* hana-discount */
.hana-discount{
    border: 1px solid #ccc;
}
.hana-discount .col-sm-12{
    padding: 30px 0;
}
.hana-discounted{
    font-size: 28px;
    font-weight: 600;
    color: #da0000;
}
/* hana-event */
.hana-event{
    text-align: center;
    padding: 30px 0;
}
/* hana-recommend */
.hana-recommend-first{
    margin-top: 30px !important ;
}
.hana-recommend p{
    margin: 0;
}
.hana-recommend a:hover p:nth-child(2){
    color: #da0000;
}
.hana-recommend a:hover p:last-child{
    color: #000 !important;
}
/* hana-news */
.hana-news{
    margin-top: 15px!important;
}
.hana-news a{
    color: #000;
    display: flex;
}
.hana-news img{
    transition: .3s;
}
.hana-news p{
    margin: 0;
    transition: .3s;
}
.hana-news-conts{
    text-align: left;
    margin-left: 15px;
    line-height: 16px;
    font-weight: 600;
}
.hana-news a:hover img{
    opacity: .7;
}
.hana-news a:hover .hana-news-title{
    color: #da0000;
}
.hana-news-title{
    font-size: 16px;
}
.hana-news-sub{
    font-size: 14px;
    font-weight: 300;
}
/* hana-cash */
.hana-cash{
    margin-top: 15px !important;
    padding: 0 20px;
}
.hana-cash p{
    font-size: 18px;
    font-weight: 500;
}
.hana-cash-testcoss table th{
    border: 1px solid #ccc;
    padding: 10px;
    font-weight: 300;
}
.hana-cash-discount-coss{
    margin-top: 15px;
}
.hana-cash-discount-coss td{
    border: 1px solid #ccc;
    padding: 10px;
}
/* hana-other */
.hana-cash-other{
    margin-top: 15px;
}
.hana-cash-other td{
    border: 1px solid #ccc;
    padding: 10px;
}
/* hana-pay */
.hana-cash-pay{
    margin: 30px 0;
}
.hana-cash-pay td{
    border:  1px solid #ccc;
    padding: 10px;
}
.hana-cash-pay img{
    width: 38px;
    display: inline-flex;
}
/* hana-widget */
.hana-widget-title{
    margin-top: 15px;
    background: #333333;
    padding: 10px;
    border-top: 2px solid #f84998;
}
.hana-widget-title::after{
    background:none;
}
.hana-widget-title p{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
}
/* hana-widget-1 */
.hana-widget{
    padding: 0 0 0 15px;
    position: relative;
    float: left;
    z-index: 9;
}
.hana-widget-1{
    margin-top: 15px;
    line-height: 16px;
}
.hana-widget-1 p{
    margin: 0;
}
.hana-widget-1 .widget-title{
    font-weight: 600;
    margin-top: 15px;
}
.hana-widget-info-title p { 
    font-weight: 600;
    font-size: 18px;
    margin: 15px 0;
}
.hana-widget-1-conts{
    margin-top: 15px;
}
.hana-widget-1-conts .shop-data{
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.hana-widget-1-conts dt{
    display: block;
    width: 80px;
    margin-bottom: 15px;
}
.hana-widget-1-conts span{
    border: 1px solid var(--shop-border-color, #d4d4d4);
    text-align: center;
    display: block;
    padding: 0.4rem 0.8rem;
    line-height: 1;
    border-radius: .4rem;
    color: #000;
    font-size: 14px;
    font-weight: 300;
}
.hana-widget-1-conts dd{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-basis: calc(100% - 0.5rem - 80px);
    -ms-flex-preferred-size: calc(100% - 0.5rem - 80px);
    flex-basis: calc(100% - 0.5rem - 80px);
    min-width: 100px;
    line-height: 1.4;
    margin-left: 0.5rem;
}
.hana-widget-1-conts dd a{
    color: #000;
    transition: all .3s;
}
.hana-widget-1-conts dd a:hover{
    color: #da0000;
}

/* hana-tab-2 */
.hana-tab-num{
    display: flex;
    margin-bottom: 15px;
}
.hana-tab-num p{
    margin: 0;
}
.hana-tab-num p:first-child{
    font-size: 24px;
    font-weight: 600;
}
.hana-tab-num span{
    font-size: 14px;
    font-weight: 300;
    margin-right: 15px;
}
.hana-tab-num p:last-child{
    margin-top: 5px;
}
.tab-2-list-1{
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
}
.tab-2-list-1 a{
    color: #000;
    display: flex;
}
.tab-2-list-1 img{
    transition: all .3s;
}
.tab-2-list-info{
    margin-left: 10px;
}
.tab-2-list-info p{
    font-size: 14px;
    color: #888;
    margin: 0;
}
.tab-2-info-title{
    font-size: 20px;
    color: #000 !important;
    transition: all .3s;
    font-weight: 600;
}
.tab-2-list-1 a:hover .tab-2-info-title{
    color: #da0000 !important;
}
.tab-2-list-1 a:hover img{
    opacity: .7;
}
/* hana-tab-4 */
.hana-tab-4 .hana-tab-num{
    margin: 15px 0;
}
.hana-order-label span{
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 3px 10px;
    margin-right: 5px;
}
.hana-order-label a{
    color: #888;
    transition: all .3s;
    margin: 0 15px;
}
.hana-order-label a:hover{
    color: #da0000;
}
.hana-tab-4-item{
    margin-top: 15px !important;
}
.hana-tab-4-item a:hover p:nth-child(2){
    color: #da0000;
}
.hana-tab-4-item a:hover .tab-4-size{
    color: #000 !important;
}
.hana-tab-4-item p{
    margin: 0;
}
/* hana-tab-5 */
.hana-tab-5 .hana-tab-num{
    margin: 15px 0;
}
.hana-days{
    margin-top: 15px;
}
.hana-days ul{
    display: flex;
}
.hana-days ul li{
    width: 14.28571%;
    position: relative;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.hana-days ul li::before{
    position: absolute;
    left: 0;
    right: 0;
    top: -1px;
    margin: 0 auto;
    width: 80%;
    background: #999;
    height: 4px;
    display: block;
    transition: all .3s;
    content: "";
}
.hana-days ul li.active::before{
    background: #e43480;
}
.hana-days ul li:hover::before{
    background: #e43480
}
.hana-days ul li:hover a{
    color: #e43480;
}

.hana-days ul>li>a{
    display: block;
    line-height: 14px;
    text-align: center;
}
.hana-days ul li:last-child{
    border-right: none;
}
.hana-days li b{
    font-size: 18px;
}

.hana-days li p:last-child{
    font-size: 12px;
    color: #888;
    
}
.hana-days li p{
    transition: all .3s;
}
.hana-days ul li:hover p{
    color: #e43480;
}

.hana-tab-5 .hana-order-label{
    margin-top: 15px;
}

.hana-today{
    margin: 30px 0;
    text-align: center;
}
.hana-tab-5-item{
    margin-top: 15px !important;
}
.hana-tab-5-item a:hover p:nth-child(2){
    color: #da0000;
}
.hana-tab-5-item a:hover .tab-4-size{
    color: #000 !important;
}
.hana-tab-5-item p{
    margin: 0;
}
/* hana-tab-6 */
.hana-tab-6 .hana-tab-num{
    margin: 15px 0;
}
.hana-event-item{
    border: 1px solid #ccc;
    margin-top: 15px;
    padding: 15px;
}
.hana-event-item p{
    margin: 0;
}
.hana-event-title{
    padding: 0  0 10px 0;
    border-bottom: 1px dashed #ccc;
}
.hana-event-title p:first-child{
    font-size: 18px;
    font-weight: 600;
}
.hana-event-title a{
    color: #000;
}
.hana-event-sub{
    padding: 10px 0;
}
.hana-event-bt p:first-child{
    margin-bottom: 10px;
}
/* hana-video */
.hana-tab-7 .hana-tab-num{
    margin-top: 15px;
}
.hana-video a{
    color: #000;
}
.hana-video a:hover{
    opacity: .7;
}
.hana-video a:hover p{
    color: #da0000;
}
.hana-video a:hover .hana-video-sub img{
    opacity: .7;
}
.hana-video-title p{
    transition: .3s;
}
.hana-video-sub{
    display: flex;
}
.hana-video-info{
    margin-left: 10px;
    line-height: 16px;
}
.hana-video-sub img{
    border-radius: 100px;
}
.hana-video-info p{
    transition: .3s;
    font-size: 12px;
    margin: 0;
    color: #888;
}
/* hana-tab-8 */
.hana-archive{
    background: #333;
    border-top: 2px solid #e43480;
}
.hana-archive p{
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    padding: 10px;
}
.hana-tab-8 .row{
    margin: 15px 0 !important;
}
.hana-tab-8 .hana-tab-num{
    margin-top: 10px;
}
.hana-album{
    margin-top: 10px;
    text-align: center;
}
/* hana-tap-9 */
.hana-tab-9 .hana-tab-num{
    margin: 15px 0;
}
.hana-rumor{
    text-align: center;
}

.shop-footer{
    display: none;
}
.shop-copyright .text{
    padding: 15px 0 0;
}
.shop-copyright .social{
    padding: 15px 0;
}

/* 0901 */
.shop-list > .col-sm-4{
    margin-top: 3%;
}
.user-flex > .col-sm-4 i{
    color: #b91d73;
    margin-top: .5rem;
}
.user-flex > .col-sm-4 {
    margin-top: 3%;
}
.user-flex > .col-sm-4 p{
    font-size: 13px;
}
.shop-list > .col-sm-8 > .row > .flex-center > .shop-info{
    flex-direction: column;
}
.flex-center > .shop-info > .info-time{
    margin-bottom: 3%;
}
.cast-section{
    text-align: center;
}
.user-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.shop-list-title{
    display: flex;
}
.shop-list-title img{
    margin-right: 12px;
}
.shop-list-title-num{
    width: 5rem;
    height: 3.6rem;
    line-height: 3rem;
    text-align: center;
    margin-top: 2rem;
    margin-right: 12px;
    border: 1px solid #ccc;
    background: #fafafa;
}
.shop-list-title-num p{
    font-size: 2.8rem;
}
/* cast-rank */
.cast-rank-wrap{
    padding: 0;
}
.cast-rank-wrap .col-sm-4{
    padding: 0;
}
.cast-rank-title i{
    color: #9a165f;
}
.cast-rank-title span{
    color: #9a165f;
}
.cast-rank-item a{
    color: #000;
}
.rank-info-wrap{
    text-align: center;
    line-height: 12px;
    padding: 8px 0;
    border-bottom: 1px dotted #000;
}
.rank-info-wrap p{
    transition: .3s;
}
.rank-info-wrap p:last-child{
    font-size: 11px;
}
.cast-rank-item a:hover .rank-info-wrap p:first-child{
    color: #da0000;
}
.cast-rank-item a:hover > img:nth-child(2){
    opacity: .7;
}
.rank-info-shop{
    line-height: 12px;
}
.rank-info-shop p{
    font-size: 11px;
}
.rank-info-wrap .cast-size{
    border: none;
}
.rank-info-shop{
    text-align: center;
}
.shop-pickup .col-sm-12{
    display: flex;
}
.news-content-count{
    margin: 15px 0 !important;
}
.cast-rank .col-sm-2{
    padding: 0;
}
.cast-rank .col-sm-12{
    padding: 0;
}
/* diary-rank */
.diary-rank-title i{
    color: #6a1b9a;
}
.diary-rank-title span{
    color: #6a1b9a;
}
.cast-rank > .col-sm-2{
    cursor: pointer;
}
.cast-rank > .col-sm-2 img{
    transition: all .3s;
}
.cast-rank > .col-sm-2 .col-sm-12:nth-child(3) p{
    transition: all .3s;
}
.cast-rank > .col-sm-2:hover .col-sm-12:nth-child(3) p:first-child{
    color: #da0000;

}
.cast-rank > .col-sm-2:hover img{
    opacity: .7;
}
.cast-rank > .col-sm-2 > .row > .col-sm-12:nth-child(3) P:first-child{
    font-weight: 700;
}
.cast-rank > .col-sm-2 > .row > .col-sm-12:nth-child(3){
    padding: 15px 0;
}
.cast-rank > .col-sm-2 > .row > .col-sm-12:nth-child(4) p {
    font-size: 12px;
}
.cast-rank .cast-size{
    border: none;
}
.cast-rank > .col-sm-2 > .row > .col-sm-12:nth-child(3),
.cast-rank > .col-sm-2 > .row > .col-sm-12:nth-child(4){
    line-height: 12px;
    text-align: center;
}

@media(max-width:1200px){
    #shop-info-area{
        flex-direction: column;
    }
    #shop-info-area .area-info{
        flex-direction: column;
    }
    #shop-info-area .area-info p{
        margin: 0;
    }
    .shop-favorite{
        margin-top: 60px;
    }
    .shop-main-status p{
        font-size: 12px;
    }
    .shop-price-featured{
        margin-left: 4rem;
    }
    .shop-pickup{
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .shop-pickup .col-sm-12:last-child{
        margin-top: 10px;
        margin-left: 0;
    }
    .shop-pickup .col-sm-12:first-child ul li:last-child{
        display: none;
    }
    .cast-rank .col-sm-12{
        padding: 0 1rem;
    }
    .baloon{
        left: 30px;
    }
    .hana-archive p{
        font-size: 16px;
    }
}
@media(max-width:992px){

    .shop-list-info > .row{
        padding-bottom: 15px !important;
    }
    .shop-main-status{
        /* flex-direction: column; */
    }
    .shop-chat, .shop-user, .shop-phone{
        margin: 0 1px;
    }
    .shop-line{
        display: none;
    }
    .info.info-tell{
        margin-top: 5px;
    }
    .shop-price-featured{
        width: 105%;
        margin-left: 0;
    }
    .shop-pickup ul > li > a .cast-section{
        width: 59px;
        line-height: 12px;
    }
    .shop-pickup > .col-sm-12:last-child > ul > li > a .cast-section{
        width: 59px;
    }
    .shop-list > .col-sm-4{
        margin-top: 8%;
    }
    .shop-list .user-flex p{
        font-size: 10px;
    }
    .hana-widget-1 p:nth-child(3){
        font-size: 13px;
    }
    .hana-widget-info-title p{
        font-size: 16px;
    }
    .hana-widget-info-sub{
        font-size: 12px;
    }
}

@media (max-width:767px) {
    .box-set {
        display: block;
        margin-bottom: 100px;
    }

    .box1, .box2, .box3 {
        width: 100%;
        height: 50px;
        background-color: #fff;
        border: 1px solid #eee;
        margin: 10px 0;
    }

    .box1-head {
        display: flex;
        justify-content: center;
    }

    .photo-box-bor {
        width: 180px;
    }
    .sch-boxall {
        display: block;
    }
    .shop-tabs ul > li > a{
        font-size: 12px;
        letter-spacing: -3px;
    }
    .shop-list-sub-wrap{
        flex-direction: column;
        align-items: baseline;
    }
    .shop-list-item span{
        margin-left: 0;
    }
    .shop-price-featured{
        margin-left: 0 !important;
    }
    .shop-button-wrap{
        justify-content: center;
    }
    .shop-info-left{
        text-align: center;
    }
    .shop-info-left img{
        margin: 0 auto;
    }
    .shop-pickup ul > li > a .cast-section{
        line-height: 24px;
        width: 78px;
    }
    .shop-pickup > .col-sm-12:last-child > ul > li > a .cast-section{
        width: 78px;
    }
    .shop-main-status p,
    .shop-main-status i{
        font-size: 16px;
    }
    .user-flex{
        margin-bottom: 3% !important;
    }
    .shop-list .user-flex p{
        font-size: 18px;
        line-height: 20px;
    }
    .shop-list .user-flex i{
        font-size: 18px;
        margin-bottom: 5px;
    }
    .shop-list .user-flex span{
        font-size: 14px;
    }
    .shop-list > .col-sm-8 > .row > .flex-center > .shop-info {
        flex-direction: inherit;
    }
    .flex-center > .shop-info > .info-time{
        margin: 0;
    }
    .info.info-tell{
        margin: 0;
        margin-left: 2rem;
    }
    .shop-price-featured {
        width: 100%;
    }
    .cast-rank .col-sm-2:nth-child(3),
    .cast-rank .col-sm-2:nth-child(4){
        display: none;
    }
    .hana-tab li a{
        font-size: 10px;
        letter-spacing: -1px;
    }
    .shop-favorite li span{
        font-size: 12px;
        letter-spacing: -1px;
    }
    .baloon{
        left: 0;
    }
    #shop-info-caption{
        font-size: 16px;
    }
}



@media(max-width:690px){
    .baloon{
        left: 10px;
    }
}

@media(max-width: 568px){
    .shop-list-sub-wrap{
        flex-direction: column;
        align-items: baseline;
    }
    .baloon{
        width: 192px;
    }
    .portal-page-title{
        font-size: 24px;
    }
    .group-type h3{
        font-size: 24px;
    }
    .shop-favorite{
        flex-direction: column;
    }
    .shop-favorite li{
        margin: 15px 0;
    }

    
    .shop-lead{
        text-align: center;
        margin-top: 10px;
    }
    .shop-check-icon{
        text-align: center;
    }
    .cast-rank .col-sm-2:nth-child(5),
    .cast-rank .col-sm-2:nth-child(6){
        display: none;
    }
    .hana-tab li a{
        letter-spacing: -5px;
    }
    .hana-header-info .shop-area{
        font-size: 10px;
        letter-spacing: -2px;
    }
    #shop-info-caption{
        font-size: 12px;
        letter-spacing: -1px;
    }
    .hana-order-label p{
        font-size: 12px;
    }
    .hana-archive p{
        font-size: 12px;
        letter-spacing: -1px;
    }
    .hana-widget{
        padding: 0 !important;
    }
}
